.scrollbar::-webkit-scrollbar{
  width: 4px,
}

// .scrollbar::-webkit-scrollbar-track{
//   background-color: #2099fa;
// }

.scrollbar::-webkit-scrollbar-thumb{
  background-color: #e4eff4;
  border-radius: 4px;
}
